{% extends 'todo/base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<h3 class="my-5">Welcome to Your Todo List</h3>
<form hx-post="{% url 'create_todolist' %}" hx-target="#todoList" class="mx-auto">
    {% csrf_token %}
    <div class="mb-3 row align-items-center">
        <label for="todolistTitle" class="col-auto col-form-label">Enter your todo list title here: </label>
        <div class="col-6">
            <input type="text" name="title" class="form-control" id="todolistTitle" required>
        </div>
        <div class="col-auto">
            <button class="btn btn-success">Create Todo List</button>
        </div>
    </div>
</form>
<div id="todoList" class="d-flex flex-wrap space-evenly">
    {% include 'todo/todo-list.html' %}
</div>

{% endblock %}

{% block js_script %}
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>
{% endblock %}
