{% if todolist %}
{% for list in todolist %}

<div class="card m-2" style="width: 18rem;">
  <div class="card-header">
    {{ list.title }}
    <div>
      <span class="action badge rounded-pill text-bg-danger" hx-delete="{% url 'delete_todolist' list.pk %}"
        hx-target="#todoList" hx-confirm="Are you sure you wish to delete?" style="cursor: pointer;">X</span>
    </div>
  </div>
  {% if list.todos.all %}
  <ul class="list-group list-group-flush">
    {% for todo in list.todos.all %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div class="{% if todo.completed %} text-success text-decoration-line-through {% endif %}">
        {{ todo.title }}
      </div>
      <div>
        <span class="action badge rounded-pill text-bg-warning" hx-get="{% url 'mark_todo' todo.pk %}"
          hx-target="#todoList" style="cursor: pointer;">✔</span>
        <span class="action badge rounded-pill text-bg-danger" hx-delete="{% url 'delete_todo' todo.pk %}"
          hx-target="#todoList" hx-confirm="Are you sure you wish to delete?" style="cursor: pointer;">X</span>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="card-body">
    <form hx-post="{% url 'create_todo' list.pk %}" hx-target="#todoList">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" id="todoTitle" name="title" placeholder="Enter todo title" required>
        <button class="btn btn-primary" type="submit">Add Todo</button>
      </div>
    </form>
  </div>
</div>
{% endfor %}
{% else %}

<h5>Currently, you don't have any todos.</h5>

{% endif %}
