body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
.completed {
  text-decoration: line-through;
}

/* REGISTER CSS */
/* styles.css */
.registration-form {
  max-width: 400px;
  margin: 0 auto;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.registration-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
}
